/* Reset the browser CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:before, blockquote:after {
    content: '';
    content: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none;
}

/*********************************/

:root {
    --font-primary: Lato, sans-serif;
    --font-header: Raleway, sans-serif;
    --font-title: Montserrat, sans-serif;
    --font-mono: "Fira Code", monospace;
    --font-icon: fontello;

    --color-bg-blue: #25688D;
    --color-bg-red: #62242C;
    --color-bg-violet: #270F25;
    --color-bg-black-violet-gradient: linear-gradient(0deg, var(--color-bg-violet) 50%, black 100%);
    --color-bg-yellow: rgba(255,255,0,0.1);
    --color-bg-light-dark: rgba(0,0,0,0.03);

    --color-page-bg: var(--color-bg-violet);
    --color-white-bg: rgb(249, 242, 237);
    --color-code-bg: var(--color-bg-light-dark);

    --padding-card: 4rem;
    --margin-section: 20rem;

    --font-size-xlarge: 3rem;
    --font-size-large: 2.25rem;
    --font-size-bigger: 1.5rem;
    --font-size-small: 0.75rem;
    --font-size-xsmall: 0.5rem;
    --font-size-text: 1.125rem;

    --breakpoint-md: 768px;
}

body {
    background: var(--color-page-bg);
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    overflow-x: hidden;
}

code {
  font-family: var(--font-mono);
  font-size: inherit;
}

.flex-col {
  flex-direction: column;
}

/*******************************************************************************
 * LANDING SECTION
 ******************************************************************************/

.landing {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: flex-end;
    color: white;
    text-align: center;
    margin-bottom: var(--margin-section);
}

.main-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
}

.hero-text {
    font-family: var(--font-title);
    margin-bottom: 1rem;
}

.name {
    font-size: var(--font-size-large);
    font-family: var(--font-header);
    margin-bottom: 1rem;
    line-height: 1em;
    text-transform: uppercase;
}

.handle {
    font-family: var(--font-mono);
    margin-bottom: var(--padding-card);
}

@media (min-width: 768px) {
    .hero-text {
        font-size: var(--font-size-bigger);
        line-height: 1em;
    }

    .name {
        font-size: var(--font-size-xlarge);
    }
}

/*******************************************************************************
 * BLOG SECTION
 ******************************************************************************/

.blogs {
    margin-bottom: var(--margin-section);
}

.blog-item .dateline {
    color: var(--color-white-bg);
    text-align: right;
    font-family: var(--font-mono);
}

.dateline span {
    line-height: 1em;
}

.dateline .date-day {
    display: block;
    font-size: 10em;
    overflow: hidden;
    padding-right: 0.1em;
    letter-spacing: -0.2em;
    margin-bottom: -0.16em;
    font-weight: bold;
}

.dateline .date-month,
.dateline .date-year {
    margin-right: 2px;
}

.blog-card {
    color: black;
    background: var(--color-white-bg);
}

.blog-card>div>a {
    text-decoration: none;
    color: inherit;
}

.blog-card>div {
    display: inline-block;
    padding: var(--padding-card);
    max-width: 70ch;
}

.blog-card h1,
.blog-card h2,
.blog-card h3 {
    color: var(--color-bg-violet);
    font-family: var(--font-header);
    line-height: 1.3;
}

.blog-card h1 {
    font-size: var(--font-size-large);
}

@media (min-width: 768px) {
    .blog-item {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .blog-item .dateline {
        flex: 1;
        pointer-events: none;
    }

    .blog-card {
        flex: 3;
        position: relative;
        box-shadow: rgba(206, 143, 143, 0.5) 0 0;
    }

    .blog-card.is-external-link:after {
        position: absolute;
        font-family: var(--font-icon);
        content: "\f08e";
        color: white;
        right: -50px;
        width: 50px;
        bottom: 10px;
        text-align: center;
    }

    .dateline span {
        display: block;
        line-height: 1em;
    }

    .blog-card p {
        font-size: var(--font-size-text);
    }

    .blog-card h1 {
        margin-bottom: calc(0.75 * var(--padding-card));
    }
}

/*******************************************************************************
 * FOOTER SECTION
 ******************************************************************************/

.footer {
    background: var(--color-white-bg);
    padding: var(--padding-card);
}

.footer ul {
    font-family: var(--font-mono);
    font-size: var(--font-size-small);
    text-transform: uppercase;
    padding: var(--padding-card) 0;
    color: black;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    line-height: 2em;
}

.footer i {
    width: 1.25em;
    display: inline-block;
    text-align: center;
}

.footer .copyright {
    margin: 0;
    font-size: var(--font-size-xsmall);
    padding-top: var(--padding-card);
}

@media (min-width: 768px) {
    .footer {
        --font-size-small: 1em;
        --font-size-xsmall: var(--font-size-small);
    }

    .footer ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .footer .copyright {
        text-align: center;
    }
}

/*******************************************************************************
 * BLOG PAGE
 ******************************************************************************/

.blogs {
  display: flex;
}

.blogs div:first-of-type {
    flex: 1;
}

.blog-container {
    flex: 3;
}

.reading-view .blog-card {
    font-size: var(--font-size-text);
    overflow-x: hidden;
}

.blog-card pre {
  background: var(--color-code-bg);
  margin: 0 calc(-1 * var(--padding-card));
  padding: var(--padding-card);
  width: 100vw;
  max-width: calc(100vw - var(--padding-card) - 1.2rem);
  overflow: scroll;
  font-size: 1rem;
}

.reading-view .blog-card>div {
  padding: 1em;
}

.blog-card a:link {
  color: var(--color-bg-blue);
}

.blog-card a:visited {
  color: var(--color-bg-red);
}

.blog-title {
  color: white;
  font-size: 4em;
  text-align: left;
  margin-top: var(--margin-section);
  line-height: 1em;
  text-align: center;
  max-width: 20ch;
}

@media (min-width: 768px) {
  .blog-title {
    padding-left: 30%;
    text-align: left;
  }

  .reading-view {
    position: relative;
  }

  .reading-view .blog-card>div {
    padding: var(--padding-card);
  }

  .reading-view .blog-item {
    align-items: flex-start;
  }

  .reading-view .blog-item:hover {
    transform: none;
  }

  .reading-view .blog-card h1 {
    margin: calc(0.75 * var(--padding-card)) 0;
  }

  .reading-view .blog-card h2,
  .reading-view .blog-card h3 {
    margin: calc(0.60 * var(--padding-card)) 0;
  }
}

.back-button {
  position: absolute;
  left: 50px;
  top: 50px;
  text-decoration: none;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: var(--color-white-bg);
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 999;
  opacity: 50%;
}

.back-button:hover {
  opacity: 100%;
}

.back-button::after {
  content: '◀';
  font-size: 40px;
  color: var(--color-bg-violet);
  letter-spacing: 7px;
}

@media (min-width: 768px) {
  .back-button {
    position: fixed;
  }
}
